<div id = "panel">
    <div class = "edit_form">
        Név: <input id = "name_editor" type="text" [(ngModel)]="temp.name">
        Neptun: <input id = "neptun_editor" type="text" [(ngModel)]="temp.neptunId">
        E-mail: <input id = "email_editor" type="email" [(ngModel)]="temp.email">
        <br><br>
        <ng-template ngFor let-label [ngForOf]="labels" class = "label_container">
            <div class = "label_button" [class.bg-highlight] = "hasLabel(label)" (click)="toggleLabel(label)" >{{label.name}}</div>
        </ng-template>
        <div class = "button_container">
            <div class = "button" (click)="save()">Mentés</div>
            <div class = "button" (click)="cancel()">Mégse</div>
            <div class = "button" (click)="reset()">Visszaállítás</div>
        </div>
    </div>
<div class = "overlay" (click)="cancel()"></div>
</div>