<div id = "panel">
    <div class = "edit_form">
        Név: <input id = "name_editor" type="text" [(ngModel)]="temp.name">
        Neptun: <input id = "neptun_editor" type="text" [(ngModel)]="temp.neptunId">
        E-mail: <input id = "email_editor" type="text" [(ngModel)]="temp.email">
        <br><br>
        <button (click)="save()">Mentés</button>
        <button (click)="cancel()">Mégse</button>
        <button (click)="reset()">Visszaállítás</button>
    </div>
<div class = "overlay"></div>
</div>