<section class="people">
    <table>
    <tr>
        <th>Név</th>
        <th>Neptun</th>
        <th>E-mail</th>
        <th>Nem</th>
        <th>Eszközök</th>
    </tr>
    <tr *ngFor = "let person of people">
        <td>{{person.name}}</td>
        <td>{{person.neptunId}}</td>
        <td>{{person.email}}</td>
        <td>Yes</td>
        <td>
            <div class="admin_menu">
                <button class="edit_button"><i class="fa fa-pencil fa-lg"></i></button>
                <button class="make_admin_button"><i class="fa fa-user-circle fa-lg"></i></button>
                <button class="remove_button"><i class="fa fa-trash fa-lg"></i></button>
            </div>
        </td>
    </tr>
    </table>
</section>
