.admin_menu { 
    opacity: 0;
    transition: opacity 500ms;
}

.searchField {
    position: absolute;
    right: 0em;
    top: 0em;
}

.admin_menu button {
    width: 2rem;
}

.admin_menu button i,
.admin_menu button span {
    font-size: 1.15rem;
}

.admin_button {
    position: relative;
}

.admin_button span,
.admin_button i {
    position: absolute;
    top: 50%;
    left: 50%;
}

.admin_button span {
    margin: -11px 0 0 -3.791px;
    font-weight: bolder;
    color: darkred;
    text-shadow: 1px 1px 2px black;
}

.admin_button i {
    margin: -6.666px 0 0 -9.198px;
}

tr:hover .admin_menu {
    opacity: 1;
}

table {
    min-width: 80em;
    border-collapse: collapse;
}

table, th, td {
    padding-top: 1em 1.5em 1em 1.5em;
    text-align: center;
    transition: background 500ms; 
}

tr:hover td {
    background: rgba(0, 0, 0, 0.2);
}

tr:nth-child(odd) {
    background: rgb(190, 230, 255);
}

tr:nth-child(even) {
    background: rgb(255, 255, 255); 
}