/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.bg-highlight {
  background: darkblue;
}
.bg-text-highlight {
  color: white;
}
.opacity-half-hidden {
  opacity: 0.30;
}
.opacity-transition {
  transition: opacity 250ms;
}
